services:
  backend:
    build: ./Backend
    ports:
      - "4000:4000"
    dns:
      - 8.8.8.8
    env_file:
      - ./Backend/.env

  frontend:
    build: ./Frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Frontend/fullchain.pem:/etc/letsencrypt/live/cyberzone.eng.ruh.ac.lk/fullchain.pem:ro
      - ./Frontend/privkey.pem:/etc/letsencrypt/live/cyberzone.eng.ruh.ac.lk/privkey.pem:ro
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
