services:
  backend:
    build: ./Backend
    ports:
      - "4000:4000"
    dns:
      - 8.8.8.8
    env_file:
      - ./Backend/.env

  frontend:
    build: ./Frontend
    ports:
      - "5174:80"
    depends_on:
      - backend
